.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
    margin: 0;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 3px solid var(--primary); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    margin: 0;
  }
  
  .navbar-item {
    flex-basis: 20%;
    text-align: center;
  }
  
  .navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    color: var(--offWhite);
    display: inline-block;
    padding: 0.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: var(--primary);
    transform: scale(1.1); 
  }
  
  .navbar-logout {
    margin-left: auto;
  }
  .logout-btn {
    background: none;
    border: none;
    font: inherit;
    color: var(--offWhite);
    cursor: pointer;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .logout-btn:hover {
    color: var(--primary);
    transform: scale(1.1);
  }
  