body,
a,
button,
input,
textarea,
select,
label,
.navbar-link,
.logout-btn {
  cursor: url('/assets/pawicon.png'), auto !important;
}


body {
  background-image:
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url("/assets/bowiebackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: url('/assets/pawicon.png'), auto;
}


